@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #272D2F;
}

.waaper{
    background-color: #FE724C;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.content {
    background-color: #fff;
    border-radius: 55px;
    width: 100%;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 78px;
}